<html>

	<head>
		<title>Testing stuff</title>
		<link rel="stylesheet" href='/static/styles.css' />
		<style>
			.ascii-art {
				font-family: monospace;
				white-space: pre;
			}
		</style>
	</head>
	<body>
		<p>Tonight's craving is {{food}}, yum!</p>

		<h1>Welcome :P</h1>
		<pre class="ascii-art">
		                _                                  
              (`  ).                   _           
             (     ).              .:(`  )`.       
)           _(       '`.          :(   .    )      
        .=(`(      .   )     .--  `.  (    ) )      
       ((    (..__.:'-'   .+(   )   ` _`  ) )                 
`.     `(       ) )       (   .  )     (   )  ._   
  )      ` __.:'   )     (   (   ))     `-'.-(`  ) 
)  )  ( )       --'       `- __.'         :(      )) 
.-'  (_.'          .')                    `(    )  ))
                  (_  )                     ` __.:'          
                                        
--..,___.--,--'`,---..-.--+--.,,-,,..._.--..-._.-a:f--.
		</pre>
	</body>
		
</html>
